fastapi
uvicorn
gunicorn
langgraph
langchain
langchain-google-genai
langchain-huggingface
huggingface-hub
faiss-cpu
pandas
numpy
python-dotenv
pydantic
torch --index-url https://download.pytorch.org/whl/cpu
